<head>
    <title>{{ title }}</title>
    <link href="css/about.css" rel="stylesheet"/>
</head>

<div class="container mainBody text-center">
    <div class="row">
        <div class="col-md-12">
            <a type="button" class="btn btn-default btn-sm pull-left" href="#/">
                <span class="glyphicon glyphicon-arrow-left"></span>
                {{ backButton }}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>{{ heading }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe src="https://calendar.google.com/calendar/embed?src=k9ub0jmsv842ra4u7kgjco6umo%40group.calendar.google.com&ctz=America/Denver"
                    style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>{{ paragraph }}</p>
        </div>
    </div>
</div>