<head>
	<title>{{ title }}</title>
	<link href="css/about.css" rel="stylesheet" />
</head>

<div class="container mainBody text-center">
	<div class="row">
		<div class="col-md-12">
			<a type="button" class="btn btn-default btn-sm pull-left" href="#/">
				<span class="glyphicon glyphicon-arrow-left"></span>
				{{ backButton }}
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1>{{ heading }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>{{ paragraph }}</p>
		</div>
	</div>
</div>