<head>
	<title>{{ title }}</title>
<!--	<link href="css/home.css" rel="stylesheet" />-->
</head>

<!-- Page Content -->
<div class="container">

	<!-- Heading Row -->
	<div class="row">
		<div class="col-md-8">
			<img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
		</div>
		<!-- /.col-md-8 -->
		<div class="col-md-4">
			<h1>{{ businessName }}</h1>
			<p>{{ businessParagraph }}</p>
			<a class="btn btn-primary btn-lg" href="#/freequote">{{ quoteButton }}</a>
		</div>
		<!-- /.col-md-4 -->
	</div>
	<!-- /.row -->

	<hr>

	<!-- Call to Action Well -->
	<div class="row">
		<div class="col-lg-12">
			<div class="well text-center">
				{{ businessTagline }}
			</div>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<!-- Content Row -->
	<div class="row">
		<div class="col-md-4">
			<h2>{{ headingOne }}</h2>
			<p>{{ headingOneParagraph }}</p>
			<a class="btn btn-default" href="#">{{ headingOneMoreInfo }}</a>
		</div>
		<!-- /.col-md-4 -->
		<div class="col-md-4">
			<h2>{{ headingTwo }}</h2>
			<p>{{ headingTwoParagraph }}</p>
			<a class="btn btn-default" href="#">{{ headingTwoMoreInfo }}</a>
		</div>
		<!-- /.col-md-4 -->
		<div class="col-md-4">
			<h2>{{ headingThree }}</h2>
			<p>{{ headingThreeParagraph }}</p>
			<a class="btn btn-default" href="#">{{ headingThreeMoreInfo }}</a>
		</div>
		<!-- /.col-md-4 -->
	</div>
	<!-- /.row -->
</div>
<!-- /.container -->
